body:after {
    display: none;
    content: url(../img/bg.jpg) url(../img/bg-land.png) url(../img/bg-report.png) url(../img/bg-room.png) url(../img/block.png) url(../img/female-idea-1.png) url(../img/female-idea-2.png) url(../img/female-idea-3.png) url(../img/female-music-1.png) url(../img/female-music-2.png) url(../img/female-music-3.png) url(../img/female-run-1.png) url(../img/female-run-2.png) url(../img/female-run-3.png) url(../img/lines.png) url(../img/logo-motion.png) /* url(../img/mal-product.png)*/ url(../img/male-idea-1.png) url(../img/male-idea-2.png) url(../img/male-idea-3.png) url(../img/male-music-1.png) url(../img/male-music-2.png) url(../img/male-music-3.png) url(../img/male-run-1.png) url(../img/male-run-2.png) url(../img/male-run-3.png) url(../img/swipe.png) url(../img/bg-last.jpg) url(../img/bubblesprite.png) url(../img/logo-motion.png) url(../img/product-c.png);
}

@font-face {
    font-family: SofiaProBold;
    src: url(../fonts/Mostardesign%20-%20Sofia%20Pro%20Bold_0.otf);
}

@font-face {
    font-family: SofiaPro;
    src: url(../fonts/Mostardesign%20-%20Sofia%20Pro%20Regular_0.otf);
}

@font-face {
    font-family: SofiaProMedium;
    src: url(../fonts/Mostardesign%20-%20Sofia%20Pro%20Medium_0.otf);
}

.pt-perspective {
    position: relative;
    width: 320px;
    height: 480px;
    perspective: 1200px;
    transform-style: preserve-3d;
}

.pt-page {
    width: 320px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    z-index: 99;
}

.pt-page-current,
.no-js .pt-page {
    visibility: visible;
}

.no-js body {
    overflow: hidden;
}

.pt-page-ontop {
    z-index: 999;
}

.bold {
    font-family: SofiaProBold, serif;
}

.medium {
    font-family: SofiaProMedium, serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: SofiaPro, serif;
    color: #fff;
    overflow: hidden;
}

#tracer {
    /*background: url(../img/rms-sb-01-05-female-final.png) #016dad no-repeat;*/
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 3;
}

#jar, #rma-widget, #tracer {
    width: 320px;
    height: 480px;
    overflow: hidden;
}

#jar {
    background: #016dad;
    z-index: 2;
}

.ff .header, .ff .footer, .ff .content, .absolute {
    position: relative;
    z-index: 3;
    text-align: center;
}

.absolute {
    position: absolute;
    height: 480px;
    width: 160px;
    z-index: 9;
}

span {
    display: block;
}

.hide {
    display: none;
}

.block {
    width: 320px;
    height: 222px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/block.png);
    z-index: 10;
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

@-o-keyframes blink {
    to {
        visibility: hidden;
    }
}

@-moz-keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.action {
    background: url(../img/swipe.png) no-repeat;
    height: 108px;
    width: 108px;
    right: -26px;
    top: 167px;
    z-index: 11;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    -webkit-animation: blink 1s steps(5, start) infinite;
    -o-animation: blink 1s steps(5, start) infinite;
    animation: blink 1s steps(5, start) infinite;
}

div[class*="music"] .action {
    background: url(../img/swipe.png) no-repeat;
}

.absolute.product-male {
    height: 150px;
    bottom: 0;
    z-index: 11;
    right: 0;
    width: 125px;
}

.absolute.product-female {
    height: 150px;
    bottom: 0;
    z-index: 11;
    right: 0;
    width: 120px;
}

.absolute.product-male img {
    width: 75px;
}

.absolute.product-female img {
    width: 70px;
}

.logo {
    background: url(../img/logo-motion.png) no-repeat;
    height: 80px;
    width: 70px;
    right: 20px;
    top: 15px;
}

/* First Frame */
.ff .bg {
    width: 320px;
    height: 362px;
    background: url(../img/bg.jpg) #016dad no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.ff .ra_click {
    left: 160px;
}

.ff .header {
    padding-top: 9px;
}

.ff .header .baru {
    font-size: 38px;
}

.ff .header .rexmotion {
    line-height: 17px;
    font-size: 23px;
}

.ff .header .pilih {
    padding-top: 21px;
}

.ff .content {
    top: 10px;
}

.ff .separator {
    width: 30px;
}

.ff .content div {
    display: inline-block;
}

.ff .content div span {
    font-size: 23px;
    line-height: 20px;
}

.ff .footer {
    padding-top: 25px;
}

.lf .bg {
    background: url(../img/bg-last.jpg) no-repeat;
    height: 390px;
    width: 320px;
    position: absolute;
}

.lf .header .title {
    display: inline-block;
    font-size: 19px;
    position: relative;
    top: -10px;
    left: -4px;
}

.lf .header .sub {
    display: inline-block;
    font-size: 14px;
    margin-left: 6px;
    position: absolute;
    margin-top: 12px;
}

.lf .content {
    z-index: 25;
    position: relative;
}

.lf .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lf .footer .logo-motion {
    background: url(../img/logo-motion.png) no-repeat;
    width: 71px;
    height: 87px;
    position: absolute;
    right: 28px;
    bottom: 6px;
}
.lf .footer .actions {
    position: absolute;
    right: 20px;
    bottom: 114px;
    text-align: center;
}
.lf .footer .actions span {
    font-size: 12px;
    position: relative;
    top: 2px;
}
.lf .footer .actions button {
    background: #fff;
    border: 0;
    border-radius: 7px;
    padding: 5px 11px;
    font-size: 16px;
    color: #217AB3;
}

.lf .footer .products {
    position: absolute;
    bottom: 13px;
    left: 9px;
}

.lf .footer .female, .lf .footer .male {
    display: inline-block;
    text-align: center;
}

.lf .footer .female img {
    width:80px;
}

.lf .footer .male {
    display: inline-block;
    text-align: center;
    margin-left: -15px;
}
.lf .footer .male img {
    width: 89px;
    top: 4px;
    position: relative;
}

/* Mass Frames */
.header span.title {
    padding-top: 28px;
    padding-left: 18px;
    font-size: 20px;
    line-height: 22px;
}

.timeline.absolute {
    background: url(../img/lines.png) no-repeat;
    height: 77px;
    z-index: 13;
    bottom: 20px;
    left: 34px;
    width: 1px;
    font-size: 14px;
    -webkit-transition: width 0.5s cubic-bezier(.8,.24,0,.86);
    -moz-transition: width 0.5s cubic-bezier(.8,.24,0,.86);
    -ms-transition: width 0.5s cubic-bezier(.8,.24,0,.86);
    -o-transition: width 0.5s cubic-bezier(.8,.24,0,.86);
    transition: width 0.5s cubic-bezier(.8,.24,0,.86);
}

.timeline.two {
    width: 71px;
}

.timeline.three {
    width: 150px;
}

.timeline .first {
    position: absolute;
    top: -77px;
    left: -21px;
}

.timeline .second {
    position: absolute;
    top: -77px;
    left: 49px;
}

.timeline .third {
    position: absolute;
    top: -77px;
    left: 114px;
}

.timeline .bubble {
    margin: 0 auto;
}

.timeline > div {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

canvas.bubble {
    width: 43px;
    height: 50px;
}

.timeline.one .first, .timeline.two .first, .timeline.two .second, .timeline.three .second, .timeline.three .third {
    opacity: 1;
}

.timeline.one .second, .timeline.one .third, .timeline.two .third {
    opacity: 0;
}

/*.timeline.three .first .bubble {*/
    /*opacity: 0;*/
/*}*/

.trigger_landing_site {
    width: 320px;
    bottom: 0;
    height: 220px;
    left: 0;
}

.image.absolute {
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    border: 0;
    margin: 0;
}

/* Male Run */
.male-run .bg, .female-run .bg {
    width: 320px;
    height: 362px;
    background: url(../img/bg-land.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.male-run .image.absolute {
    height: 300px;
    width: 500px;
    left: -180px;
    top: 115px;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.male-run .image.absolute.male-run-1 {
    background: url(../img/male-run-1.png) no-repeat;
}

.male-run .image.absolute.male-run-2 {
    background: url(../img/male-run-2.png) no-repeat;
}

.male-run .image.absolute.male-run-3 {
    background: url(../img/male-run-3.png) no-repeat;
}

/* Male Music */
.male-music .header span.title {
    font-size: 17px;
}

.male-music .bg, .female-music .bg {
    width: 320px;
    height: 362px;
    background: url(../img/bg-room.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.male-music .image.absolute {
    width: 215px;
    left: 0;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.male-music .image.absolute.male-music-1 {
    background: url(../img/male-music-1.png) no-repeat;
    top: 91px;
}

.male-music .image.absolute.male-music-2 {
    background: url(../img/male-music-2.png) no-repeat;
    top: 91px;
}

.male-music .image.absolute.male-music-3 {
    background: url(../img/male-music-3.png) no-repeat;
    top: 91px;
}

/* Male Idea */
.male-idea .bg, .female-idea .bg {
    width: 320px;
    height: 362px;
    background: url(../img/bg-report.png) no-repeat;
    position: absolute;
    top: 60px;
    left: 78px;
    z-index: 0;
}

.male-idea .image.absolute {
    top: 105px;
    left: 10px;
    width: 230px;
}

.male-idea .image.absolute.male-idea-1 {
    background: url(../img/male-idea-1.png) no-repeat;
}

.male-idea .image.absolute.male-idea-2 {
    background: url(../img/male-idea-2.png) no-repeat;
}

.male-idea .image.absolute.male-idea-3 {
    background: url(../img/male-idea-3.png) no-repeat;
}


/* Female Run*/
.female-run .image.absolute {
    height: 300px;
    width: 320px;
    left: 0;
    top: 115px;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.female-run .image.absolute.female-run-1 {
    background: url(../img/female-run-1.png) no-repeat;
}

.female-run .image.absolute.female-run-2 {
    background: url(../img/female-run-2.png) no-repeat;
}

.female-run .image.absolute.female-run-3 {
    background: url(../img/female-run-3.png) no-repeat;
}

/* female Music */
.female-music .header span.title {
    font-size: 17px;
}

.female-music .image.absolute {
    width: 260px;
    left: 0;
    background-size: contain;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.female-music .image.absolute.female-music-1 {
    background: url(../img/female-music-1.png) no-repeat;
    top: 91px;
}

.female-music .image.absolute.female-music-2 {
    background: url(../img/female-music-2.png) no-repeat;
    top: 91px;
}

.female-music .image.absolute.female-music-3 {
    background: url(../img/female-music-3.png) no-repeat;
    top: 91px;
}

/* Female Idea */

.female-idea .image.absolute {
    top: 105px;
    left: 10px;
    width: 230px;
}

.female-idea .image.absolute.female-idea-1 {
    background: url(../img/female-idea-1.png) no-repeat;
}

.female-idea .image.absolute.female-idea-2 {
    background: url(../img/female-idea-2.png) no-repeat;
}

.female-idea .image.absolute.female-idea-3 {
    background: url(../img/female-idea-3.png) no-repeat;
}